/* tablet */
@media (min-width: 640px) and (max-width: 1024px) {
    .header_container {
        display: block;
        justify-content: center;
        padding-top: 0;
    }
    .header_container_img {
        display: flex;
        position: relative;
        margin: 0 auto;
        width: 200px;
        height: 200px;
    }
    .header_container_img .avatar {
        width: 200px;
        height: 200px;
    }
    .header_container_img .shape {
        position: absolute;
        top: -52px;
        right: -50px;
    }
    .header_container_info {
        text-align: center;
    }
    .header_container_info h1 {
        margin-top: 40px;
        font-size: 1.125rem;
        line-height: 1.33;
        /* identical to box height, or 133% */
    }
    .header_container_info p {
        font-weight: 900;
        font-size: 5.475rem;
        line-height: 0.88;
    }
    .header_container_info input {
        margin-top: 40px;
    }
    .info_container {
        flex-direction: column-reverse;
    }
    .info_container .right_container img  {
        margin-top: 60px;
        margin-bottom: 50px;
    }
    .footer_container .contact span {
        display: none;
    }
    .info_container .right_container .mobile {
        display: block;
    }
}
/* iphone xs */
@media all and (max-width: 639px) {
    .header_container {
        padding-bottom: 0;
        margin-top: 80px;
        display: block;
        justify-content: center;
        padding-top: 0;
        width: 100%;
    }
    .header_container_img {
        display: flex;
        margin: 0 auto;
        width: 160px;
        height: 160px;
    }
    .header_container_img .avatar {
        width: 160px;
        height: 160px;
    }
    .header_container_img .shape {
        width: 100px;
        height: 100px;
        top: -35px;
        right: -35px;
    }
    .header_container_info {
        text-align: center;
        width: calc(100% - 30px);
        margin: 0 auto;
        padding-bottom: 100px;
    }
    .info_container .right_container .mobile  {
        display: block;
    }
    .info_container .right_container img  {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .header_container_info p {
        margin-top: 14px;
        font-size: 3.5rem;
        line-height: 46px;
    }
    .header_container_info h1 {
        margin: 30px auto 0;
        width: calc(100% - 30px);
        font-size: 0.875rem;
        line-height: 1.43;
    }
    .info_container {
        flex-direction: column-reverse;
        width: calc(100% - 40px);
    }
    .footer_container .contact span {
        display: none;
    }
}
